.eslintrc.js
.eslintrc.*.js
webpack.config.js
vetur.config.js
dashboard/**/*
extension/**/*
graphics/**/*
node_modules/**/*
player-templates/**/*
schemas/**/*
streamdeck-plugin/**/*
src/types/schemas/**/*
shared/**/*
