body {
  color: #fff073;
}

#Background {
  background: url("./default/Background.png");
  /* background: #19171c; */
}

*[class*='Border'] {
  border-color: #41245b;
}

.TimerStopped, .TimerPaused {
  color: #b7b7b7;
}
.TimerRunning {
  color: #fff073;
}
.TimerFinished {
  color: white;
}

#GameLayout .RunInfoExtra {
  color: #b7b7b7;
}

.Player {
  color: white;
  background-color: #41245b;
}

.Player .Pronouns,
.DonationReader .Pronouns,
.CommAndReader .Pronouns {
  font-weight: 400;
  font-size: 0.8em;
  color: #cccccc;
  text-transform: uppercase;
  background-color: #2d1d3c;
}
.CommAndReader .Pronouns {
  background-color: #4b3163;
}

/** New commentators and reader component! **/
#GameLayout .CommentatorsReader .Header {
  background-color: #2d1d3c;
}
#GameLayout .CommentatorsReader .Pronouns {
  background-color: #2d1d3c;
}

.Player .Icon {
  filter: invert(1);
}

.Player .Flag {
 border-color: white;
}

.GameCapture {
  color: white;
}

.GameCapture .TeamFinishTime {
  background-color: rgba(65, 36, 91, 0.5);
}

.CommAndReader {
  background-color: #2d1d3c;
  color: white;
}

.DonationBar {
  background-color: rgba(0, 0, 0, 0.15);
}

*[class*='DonationBox'] {
  background-color: #301b4c;
  color: #f1d13f;
  font-weight: 500;
  font-size: 1em;
}

.DonationBoxTier1-1 {
  background-color: #301b4c;
}
.DonationBoxTier1-2 {
  background-color: #281643;
}
.DonationBoxTier1-3 {
  background-color: #502f59;
}

*[class*='DonationBoxTier2'] {
  color: #604054;
  font-weight: 600;
}
.DonationBoxTier2-1 {
  background-color: #f1d13f;
}
.DonationBoxTier2-2 {
  background-color: #fbd93f;
}
.DonationBoxTier2-3 {
  background-color: #e1c43c;
}

.DonationBoxTier3 {
  background-color: #efbe00;
  color: #604054;
  font-weight: 700;
  font-size: 1.1em;
}

#Intermission .Logo > img {
  content: url('./default/IntermissionLogo.png');
}

#Intermission .DonationReader .Mic,
#Intermission .MusicTrack .MCat {
  background-color: #41245b;
}

#Intermission .Header {
  background-color: #41245b;
  color: white;
}

#Intermission .BottomBox,
#Intermission .Content {
  background-color: rgba(0, 0, 0, 0.3);
}

#IntermissionPlayer .UpcomingBar .Header {
  background-color: #41245b;
}

#Omnibar {
  color: white;
  background: linear-gradient(0deg, rgba(56,31,78,1) 0%, rgba(92,50,130,1) 100%);
}

#Omnibar > #Logo {
  content: url('./default/OmnibarLogo.png');
  padding: 0 10px;
}

#Omnibar #CharityLogo {
  content: url('./default/OmnibarCharityLogo.png');
}

#Omnibar .Divider {
  background-color: #fff073;
}

#Omnibar .Alert {
  background-color: rgba(255, 255, 255, 0.22);
}

#Omnibar .Milestone .Bar, #Omnibar .Goal .Bar {
  background-color: #e8d53a;
}

#Omnibar .War1v1 .Bar1 {
  background-color: #e8d53a;
}

#Omnibar .War1v1 .Bar2 {
  background-color: #af60f7;
}

#Omnibar .WarOther .OptionWinning {
  background-color: #877520;
}

#Omnibar .WarOther .OptionOther {
  background-color: #502f59;
}
