#Intermission .Logo > img {
  content: url('./summer/IntermissionLogo.png');
}

#Countdown .Logo {
  content: url('./summer/CountdownLogo.svg');
  height: 500px;
}

#Omnibar > #Logo {
  content: url('./summer/OmnibarLogo.png');
  padding: 0 10px;
}

#Omnibar #CharityLogo {
  content: url('./summer/OmnibarCharityLogo.png');
  margin: 0 15px;
}
