body {
  color: #8ebcdd;
}

#Background {
  background: #1c4762;
}

*[class*='Border'] {
  border-color: #4d83aa;
}

.TimerRunning {
  color: #8ebcdd;
}

.Player {
  background-color: #4d83aa;
}

.Player .Pronouns,
.DonationReader .Pronouns {
  background-color: #356586;
}
.CommAndReader .Pronouns {
  background-color: #2b516b;
}

.GameCapture .TeamFinishTime {
  background-color: rgba(77, 131, 170, 0.5);
}

.CommAndReader {
  background-color: #356586;
}

*[class*='DonationBox'] {
  background-color: #010d30;
  color: #ffffff;
  font-weight: 500;
  font-size: 1em;
}

*[class*='DonationBoxTier2'] {
  background-color: #4d83aa;
  font-weight: 600;
}

.DonationBoxTier3 {
  background-color: #68b4ea;
  color: #1d1d1d;
  font-weight: 700;
  font-size: 1.1em;
}

#Intermission .Logo > img {
  content: url('./uksg/IntermissionLogo.png');
}

#Intermission .DonationReader .Mic,
#Intermission .MusicTrack .MCat {
  background-color: #4d83aa;
}

#Intermission .Header {
  background-color: #4d83aa;
}
