#Intermission .Logo > img {
  content: url('./winter/IntermissionLogo.png');
}

#Countdown .Logo {
  content: url('./winter/CountdownLogo.svg');
  height: 500px;
}

#Omnibar #Logo {
  content: url('./winter/OmnibarLogo.png');
  padding: 0 10px;
}
