/* Integrate this into the main "common.css" when rewrite done. */

@import url('../_misc/fonts/barlow-condensed.css');

body {
  font-family: 'Barlow Condensed', sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#Background, #Layout {
  width: 1920px;
  height: 1080px;
  position: fixed;
}

*[class*='Border'] {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}
.BorderTop {
  border-top-width: 3px;
}
.BorderRight {
  border-right-width: 3px;
}
.BorderBottom {
  border-bottom-width: 3px;
}
.BorderLeft {
  border-left-width: 3px;
}

*[class*="Flex"] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.FlexColumn {
  flex-direction: column;
}

.Fixed, .Capture {
  position: fixed;
  overflow: hidden;
}
