@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,400i,500,500i,600,600i&display=swap&subset=latin-ext,vietnamese');

body {
  font-family: 'Barlow Condensed', sans-serif;
  color: white;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-image: url('../background.png');
}

.BorderTop {
  border-top: solid #ffbd16 3px;
}
.BorderRight {
  border-right: solid #ffbd16 3px;
}
.BorderBottom {
  border-bottom: solid #ffbd16 3px;
}
.BorderLeft {
  border-left: solid #ffbd16 3px;
}
