/* Custom Fonts */
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:500&subset=latin-ext');

/* Some general settings used for everything and other minor changes to the body. */
body {
	font-family: 'Barlow Condensed', sans-serif;
	color: white;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

/* Background image. Not currently actually used, adding image in OBS. */
#background {
	position: fixed;
	background-image: url('../img/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 1920px;
	height: 1080px;
}

#esaLogo {
	position: fixed;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

/* All areas that store something. */
/* A transparent box with 3px yellow outline. */
.storageBox {
	position: fixed;
	outline: 3px solid #39b0f6;
	overflow: hidden;
	box-sizing: border-box;
}

/* Makes the game/webcam box have a background. In production it needs to not have one. */
/*.gameCapture, .webcam {background-color: rgba(0,0,0,1);}*/

/* Basic flex container class which auto centres it's contents. */
.flexContainer {
	display: flex;
	align-items: center; /* Aligns vertically centre. */
	justify-content: center; /* Aligns horizontally centre. */
}

/* Yellow box that stores the player names. */
.playerContainer {
	box-sizing: border-box;
	padding: 3px;
	height: 50px;
	background-color: #39b0f6;
	opacity: 0; /* These elements need to be 0 opacity on load so they fade in correctly. */
}
.playerName {
	font-size: 30px;
	color: black;
	margin: 0 7px !important;
}
.playerContainer img {height: 100%;}
.playerContainer > *:nth-child(n+3) {margin-left: 3px;}
#playersWrapper > .playerContainer:nth-child(n+2) {margin-top: 10px;}
.playerWrapperMulti {outline: 0;}

/* Purple box that sits next to the runner names on races when their timer has finished. */
.finishTime {
	background-color: #6314a9;
	color: white;
	height: 50px;
	margin: 0;
	font-size: 33px;
	padding: 10px;
	box-sizing: border-box;
	display: none;
	opacity: 0;
}

#infoContainer {
	padding: 0 20px;
}

#gameName {
	font-size: 47px;
}

/* Category/Console/Estimate */
#gameAdditionalDetails {
	font-size: 35px;
	color: #b7b7b7;
}

#gameCategory, #gameSystem, #gameEstimate {
	display: inline-block;
}

#timer {
	font-size: 110px;
	margin-top: -0.15em;
}
/* Different colours for each state the timer can be in. */
.timer_running {color: white}
.timer_paused, .timer_stopped {color: #b7b7b7;}
.timer_finished {color: #39b0f6;}

/* Each character in the timer is in a span; setting width so the numbers appear monospaced. */
#timer span {
	display: inline-block;
	width: 0.45em;
	text-align: center;
}
#timer .char3, #timer .char6 {width: 0.22em;}

/* These elements need to be 0 opacity on load so they fade in correctly. */
#gameName, #gameAdditionalDetails, #timer, .infoDivider {opacity: 0;}

#sponsorLogoWrapper {
	width: 100%;
	height: 100%;
	display: flex;
}

.sponsorLogoWrapperGrow {
	flex-grow: 1; /* Make sure sponsor logo takes up all available space. */
}

.sponsorLogo {
	/*background-image: url('../img/example-sponsor.png');*/
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	flex-grow: 1;
}

/* For safety to make sure stuff never appears on screen while in temporary storage. */
#temporaryStorage {
	opacity: 0;
}

.dndDeadPlayer {
	text-decoration: line-through;
	color: darkred;
}