@import url('https://fonts.googleapis.com/css?family=Montserrat:600&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');

body {
	height: 90vh;
	width: 90hw;
	font-family: 'Montserrat', sans-serif;
	color: white;
	background-color: #212121;
	overflow: hidden;
}

#columnsWrapper {
	height: inherit;
	width: inherit;
	display: flex;
}

.column {
	height: inherit;
	width: 33%;
	display: flex;
	align-items: center; /* Aligns horizontally centre. */
	flex-direction: column;
	padding: 0 10px;
}

#donationTotalHeader, #prizesHeader, #bidsHeader, #scheduleHeader, #switchableInfoHeader {
	font-size: 45px;
	text-align: center;
}

#donationTotal {
	font-size: 100px;
	padding-bottom: 30px;
}

#prizesContainer, #bidsContainer, #runsContainer, #switchableInfoContainer {
	width: 100%;
}

.prize:first-child, .bid:first-child, .run:first-child, #switchableInfoContainer {
	margin-top: 10px;
	border-top: 5px solid white;
}

.prize, .bid, .run {
	width: 100%;
	font-size: 40px;
	padding: 20px 0;
	text-align: center;
	border-bottom: 5px solid white;
}

.prizeName, .bidGame, .gameName {
	font-size: 45px;
}

.bidName:after {
	content: ':';
}

#switchableInfoContainer {
	padding-top: 10px;
	font-size: 40px;
}

.gameTime:before {
	content: 'ESTIMATE: '
}

.gameFinal:before {
	content: 'FINAL TIME: '
}