/* Big ESAS logo that appears in the top left. */
#esaLogo {
	background-image: url('../img/esa-big-logo-1.png');
	left: 53px;
	top: 43px;
	width: 609px;
	height: 276px;
}

#webcam1 {
	left: 30px;
	top: 370px;
	width: 655px;
	height: 368px;
}

#sponsorLogoWrapper {
	left: 26px;
	top: 741px;
	width: 662px;
	height: 259px;
	outline: 0;
}

.sponsorLogo {
	margin: 40px;
}

.comingUpContainer {
	flex-direction: column;
	opacity: 0;
}

.comingUpHeader {
	background-color: #39b0f6;
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 41px;
	color: black;
	text-transform: uppercase;
}

.comingUpBody {
	background-color: rgba(0,0,0,0.3);
	width: 100%;
	flex: 1;
	text-align: center;
	font-size: 41px;
	flex-direction: column;
}

#gameAdditionalDetails {
	opacity: 1;
}

.gameCategory, .gameConsole, .gamePlayers, .gameEstimate {
	margin: 5px;
	font-size: 30px;
}

#comingUpNext {
	position: fixed;
	left: 718px;
	top: 31px;
	width: 1172px;
	height: 199px;
}

.rotatingInfoBox {
	position: fixed;
	left: 718px;
	top: 240px;
	width: 1172px;
	height: 660px;
	opacity: 0;
}

#rotatingSponsorSlidesBox {
	opacity: 0;
}

#sponsorVideoPlayer {
	width: 100%;
	height: 100%;
	display: none;
}

#sponsorSlideDisplay {
	width: 100%;
	height: 100%;
	/*background-image: url('../img/example-slide.png');*/
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	display: none;
}

#rotatingComingUpRunsBox {
	flex-direction: column;
	justify-content: space-around;
}

#rotatingComingUpRunsBox > .comingUpContainer {
	width: 100%;
	height: 199px;
}

#gameAdditionalDetails > div:nth-child(n+2):before {
	content: ' / ';
}

#prizeWrapper {
	flex-direction: column;
}

#prizeWrapper > .prizeHeader {
	margin-bottom: 20px;
}

#prizeWrapper > .prizeImg {
	height: 400px;
}

#prizeWrapper > .prizeTitle {
	font-size: 40px;
}

#prizeWrapper > .prizeDeadline {
	font-size: 30px;
	margin-bottom: 20px;
}

#prizeWrapper > .prizeMinDonation {
	font-size: 30px;
}

#bidsWrapper, #prizeWrapper, #playerWrapper {
	flex-direction: column;
	text-align: center;
	background-color: rgba(0,0,0,0.3);
	width: 100%;
}

#bidsWrapper > .bidsChild {
	margin: 20px
}

#bidsWrapper > .bidsHeader, #prizeWrapper > .prizeHeader, #playerWrapper > .playerHeader {
	width: 100%;
	background-color: #39b0f6;
	color: black;
	height: 60px;
	font-size: 41px;
	text-transform: uppercase;
}

#bidsWrapper > .bidsGame {
	font-size: 40px;
}

#bidsWrapper > .bidsName {
	font-size: 37px;
}

#bidsWrapper > .bidsDesc {
	font-size: 32px;
}

#bidsWrapper > .bidsAmount {
	font-size: 35px;
}

#playerWrapper > .playerSRcomName {
	font-size: 50px;
}
#playerWrapper > .playerTwitch, #playerWrapper > .playerTwitter {
	font-size: 40px;
}
#playerWrapper > .playerPB {
	font-size: 35px;
}

#readerMusicInfo {
	background-color: rgba(0,0,0,0.3);
	position: fixed;
	left: 718px;
	top: 910px;
	width: 1172px;
	height: 60px;
	font-size: 30px;
}

#readerMusicInfo > div {
	padding: 15px;
}

#micIcon {
	display: none;
}

#readerInfo {
	display: none;
	height: 100%;
}

#readerInfo > .flag {
	padding-left: 10px;
	height: 35px;
}

#musicInfo {
	line-height: 100%;
	flex: 1; /* Makes the music info fill up the rest of the flexbox space. */
}

#twitchAdCountdownTimer {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 8px;
	font-size: 20px;
	border: 3px solid #39b0f6;
	border-width: 3px 0 0 3px;
	background-color: rgba(0,0,0,0.3);
	width: 200px;
	display: none;
}