
.CustomText[data-v-ec69e86e] * {
  margin: 0;
}


.Slide[data-v-6a5b5a40] {
  position: absolute;
  width: 100%;
  height: 100%;
}
.fade-enter-active[data-v-6a5b5a40], .fade-leave-active[data-v-6a5b5a40] {
  transition: opacity 1s;
}
.fade-enter[data-v-6a5b5a40], .fade-leave-to[data-v-6a5b5a40] {
  opacity: 0;
}


.PronounsComms[data-v-9153ae8e] {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 0.75em;
  top: -0.1em;
  line-height: 1.5em;
  color: #cccccc;
  text-transform: uppercase;
  padding: 0 3px;
  margin-left: 3px;
}


.Content > *[data-v-636e877b] {
  padding: 10px 0;
}


.RunInfoExtra > span[data-v-2206150d]:not(:last-child)::after {
  content: ' /';
}


.Slide[data-v-abb29f34] {
  position: absolute;
  width: 100%;
  height: 100%;
}
.fade-enter-active[data-v-abb29f34], .fade-leave-active[data-v-abb29f34] {
  transition: opacity 1s;
}
.fade-enter[data-v-abb29f34], .fade-leave-to[data-v-abb29f34] {
  opacity: 0;
}

