/* Integrate this into the main "common.css" when rewrite done. */

body {
  font-family: 'Barlow Condensed', sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#Background, #Layout {
  width: 1920px;
  height: 1080px;
  position: fixed;
}

*[class*="Flex"] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.FlexColumn {
  flex-direction: column;
}

.Fixed {
  position: fixed;
  overflow: hidden;
}


body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}


.RunInfoExtra > span[data-v-502c6484]:not(:last-child)::after {
  content: ' /';
}

