
.CustomText[data-v-ec69e86e] * {
  margin: 0;
}


.Slide[data-v-6a5b5a40] {
  position: absolute;
  width: 100%;
  height: 100%;
}
.fade-enter-active[data-v-6a5b5a40], .fade-leave-active[data-v-6a5b5a40] {
  transition: opacity 1s;
}
.fade-enter[data-v-6a5b5a40], .fade-leave-to[data-v-6a5b5a40] {
  opacity: 0;
}

