
.Msg > span + span[data-v-3124c81c]::before {
  content: '';
  margin: 0 10px 0 7px;
}
.Title[data-v-3124c81c] {
  font-weight: 600;
}


.BarText[data-v-662dbd64] {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 7px 10px;
  border-radius: 15px;
}
.BarTextFull[data-v-662dbd64] {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 100%;
  height: 100%
}


.BarText[data-v-7439b802] {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 7px 10px;
  border-radius: 15px;
}


.Option[data-v-22984592] {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 12px;
  font-size: 25px;
}


.BarText[data-v-f40d0732] {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 7px 10px;
  border-radius: 15px;
}


.ticker-enter-active[data-v-a77fba50], .ticker-leave-active[data-v-a77fba50] {
  transition: opacity 1s;
}
.ticker-enter[data-v-a77fba50], .ticker-leave-to[data-v-a77fba50] {
  opacity: 0;
}


/* Each character in the total is in a span; setting width so the numbers appear monospaced. */
#Total > span[data-v-79520895] {
  display: inline-block;
  width: 0.45em;
  text-align: center;
}
#Total > .Comma[data-v-79520895] {
  width: 0.22em;
}


/* ESAW24 */
/* Used to "fix" the omnibar background colour. */
body {
  /* Copied from ".bg--darkgrey" */
  background: #191919;
}
#Omnibar {
  color: white;
  /* Copied from ".bg--dimmedgradient" */
  background: linear-gradient(90deg, rgba(115, 78, 158, 0.5) 50%,
    rgba(208, 152, 70, 0.5) 100%);
}

