
body {
  font-family: 'Barlow Condensed';
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.PlayerHUD {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: black;
  transition: background-color 1s;
  text-shadow: 4px 4px 1px black;
  text-align: center;
  font-size: 18vh;
}
.TagScanned {
  background-color: rgb(165, 0, 165);
}
.DonationsToRead {
  background-color: rgb(0, 177, 15);
}
.MessageToRead {
  background-color: rgb(255, 208, 0);
  color: black;
  text-shadow: unset;
  font-weight: 600;
}

