#webcam1 {
	left: 0px;
	top: 502px;
	width: 755px;
	height: 498px;
}

#playerWrapperMulti1 {
	left: 0px;
	top: 0px;
	width: 758px;
	height: 70px;
	justify-content: flex-end; /* Aligns horizontally right. */
}

#playerWrapperMulti1 .finishTime {
	order: -1; /* Puts the finish time first in the flexbox. */
}

#playerWrapperMulti2 {
	left: 1162px;
	top: 0px;
	width: 758px;
	height: 70px;
	justify-content: flex-start; /* Aligns horizontally left. */
}

#playerWrapperMulti3 {
	left: 1162px;
	top: 930px;
	width: 758px;
	height: 70px;
	justify-content: flex-start; /* Aligns horizontally left. */
}

#gameCapture1 {
	left: 0px;
	top: 73px;
	width: 755px;
	height: 426px;
}

#gameCapture2 {
	left: 1165px;
	top: 73px;
	width: 755px;
	height: 426px;
}

#gameCapture3 {
	left: 1165px;
	top: 502px;
	width: 755px;
	height: 426px;
}

#infoContainer {
	left: 758px;
	top: 0px;
	width: 404px;
	height: 1000px;

	outline: 0;
	line-height: 1;
	text-align: center;
	flex-direction: column; /* Top to bottom */
	justify-content: space-evenly;

	padding-top: 100px;
	padding-bottom: 20px;
}

#infoContainer > div {
	padding-bottom: 30px;
}

#infoContainer > div:last-child {
	padding-bottom: 0;
}

#gameName {
	font-size: 50px;
}

/* Category/Console/Estimate */
#gameAdditionalDetails {
	font-size: 38px;
}

.infoDivider {
	border-top: 3px solid #39b0f6;
	width: 50%;
	margin-top: 100px;
}

.sponsorLogo {
	margin: 10px;
}