#webcam1 {
	left: 758px;
	top: 276px;
	width: 404px;
	height: 224px;
	outline: 0;
	box-shadow: 0 -3px 0 #39b0f6; /* Outline override. */
}

#webcam2 {
	left: 758px;
	top: 500px;
	width: 404px;
	height: 224px;
	outline: 0;
	box-shadow: 0 3px 0 #39b0f6; /* Outline override. */
}

#playerWrapperMulti1 {
	left: 0px;
	top: 0px;
	width: 758px;
	height: 70px;
	justify-content: flex-end; /* Aligns horizontally right. */
}

#playerWrapperMulti1 .finishTime, #playerWrapperMulti3 .finishTime {
	order: -1; /* Puts the finish time first in the flexbox. */
}

#playerWrapperMulti2 {
	left: 1162px;
	top: 0px;
	width: 758px;
	height: 70px;
	justify-content: flex-start; /* Aligns horizontally left. */
}

#playerWrapperMulti3 {
	left: 0px;
	top: 930px;
	width: 758px;
	height: 70px;
	justify-content: flex-end; /* Aligns horizontally right. */
}

#playerWrapperMulti4 {
	left: 1162px;
	top: 930px;
	width: 758px;
	height: 70px;
	justify-content: flex-start; /* Aligns horizontally left. */
}

#gameCapture1 {
	left: 0px;
	top: 73px;
	width: 755px;
	height: 426px;
}

#gameCapture2 {
	left: 1165px;
	top: 73px;
	width: 755px;
	height: 426px;
}

#gameCapture3 {
	left: 0px;
	top: 502px;
	width: 755px;
	height: 426px;
}

#gameCapture4 {
	left: 1165px;
	top: 502px;
	width: 755px;
	height: 426px;
}

#infoContainer {
	left: 758px;
	top: 0px;
	width: 404px;
	height: 273px;

	outline: 0;
	line-height: 1;
	text-align: center;
	flex-direction: column; /* Top to bottom */
	justify-content: space-evenly;
}

#gameName {
	font-size: 40px;
}

#sponsorLogoWrapper {
	left: 758px;
	top: 727px;
	width: 404px;
	height: 273px;

	outline: 0;
}

.sponsorLogo {
	margin: 25px;
}