#webcam1 {
	left: 0px;
	top: 0px;
	width: 478px;
	height: 500px;
}

#playersWrapper {
	left: 0px;
	top: 0px;
	width: 478px;
	height: 500px;

	flex-direction: column; /* Top to bottom */
	justify-content: flex-end; /* Aligns vertically bottom. */
	align-items: flex-start; /* Aligns horizontally left. */
	padding: 10px;
}

#gameCapture1 {
	left: 481px;
	top: 0px;
	width: 1439px;
	height: 811px;
}

#infoContainer {
	left: 481px;
	top: 814px;
	width: 1439px;
	height: 186px;

	line-height: 1.5;
	text-align: center;
	justify-content: space-evenly;
}

#sponsorLogoWrapper {
	left: 0px;
	top: 503px;
	width: 478px;
	height: 497px;
}

.sponsorLogo {
	margin: 40px;
}