#webcam1 {
	left: 671px;
	top: 336px;
	width: 578px;
	height: 326px;
}

.playerWrapperMulti {
	padding-left: 10px;
	padding-right: 10px;
}

#playerWrapperMulti1 {
	left: 671px;
	top: 213px;
	width: 578px;
	height: 50px;
	justify-content: flex-start; /* Aligns horizontally left. */
}

#playerWrapperMulti2 .finishTime, #playerWrapperMulti4 .finishTime {
	order: -1; /* Puts the finish time first in the flexbox. */
}

#playerWrapperMulti2 {
	left: 671px;
	top: 273px;
	width: 578px;
	height: 50px;
	justify-content: flex-end; /* Aligns horizontally right. */
}

#playerWrapperMulti3 {
	left: 671px;
	top: 675px;
	width: 578px;
	height: 50px;
	justify-content: flex-start; /* Aligns horizontally left. */
}

#playerWrapperMulti4 {
	left: 671px;
	top: 735px;
	width: 578px;
	height: 50px;
	justify-content: flex-end; /* Aligns horizontally right. */
}

#gameCapture1 {
	left: 0px;
	top: 0px;
	width: 668px;
	height: 499px;
}

#gameCapture2 {
	left: 1252px;
	top: 0px;
	width: 668px;
	height: 499px;
}

#gameCapture3 {
	left: 0px;
	top: 502px;
	width: 668px;
	height: 498px;
}

#gameCapture4 {
	left: 1252px;
	top: 502px;
	width: 668px;
	height: 498px;
}

#infoContainer {
	left: 671px;
	top: 0px;
	width: 578px;
	height: 203px;

	outline: 0;
	line-height: 1;
	text-align: center;
	flex-direction: column; /* Top to bottom */
	justify-content: space-evenly;
	white-space: nowrap;
}

#sponsorLogoWrapper {
	left: 671px;
	top: 795px;
	width: 578px;
	height: 205px;

	outline: 0;
}

.sponsorLogo {
	margin: 30px;
}