#webcam1 {
	left: 0px;
	top: 0px;
	width: 806px;
	height: 487px;
}

#playersWrapper {
	left: 0px;
	top: 0px;
	width: 806px;
	height: 487px;

	flex-direction: column; /* Top to bottom */
	justify-content: flex-end; /* Aligns vertically bottom. */
	align-items: flex-start; /* Aligns horizontally left. */
	padding: 10px;
}

#gameCapture1 {
	left: 809px;
	top: 0px;
	width: 1111px;
	height: 1000px;
}

#infoContainer {
	left: 0px;
	top: 490px;
	width: 806px;
	height: 510px;
	
	line-height: 1;
	text-align: center;
	flex-direction: column; /* Top to bottom */
	justify-content: space-evenly;

	padding-top: 20px;
	padding-bottom: 20px;
}

#infoContainer > div {
	padding-bottom: 20px;
}

#infoContainer > div:last-child {
	padding-bottom: 0;
}

.sponsorLogo {
	margin: 20px;
}

.infoDivider {
	border-top: 3px solid #39b0f6;
	width: 50%;
}