@import url('../_misc/fonts/barlow-condensed.css');

body {
  font-family: 'Barlow Condensed', sans-serif;
  /* text-shadow: 2px 2px 2px black; */
  color: var(--font-colour);
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#Background {
  width: 1920px;
  height: 1080px;
}

.BorderTop {
  border-top: 3px solid var(--border-colour);
}
.BorderRight {
  border-right: 3px solid var(--border-colour);
}
.BorderBottom {
  border-bottom: 3px solid var(--border-colour);
}
.BorderLeft {
  border-left: 3px solid var(--border-colour);
}

.Flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Fixed {
  position: fixed;
}

.Capture {
  box-sizing: border-box;
  position: fixed;
}
