@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,400i,500,500i,600,600i&display=swap&subset=latin-ext,vietnamese');

body {
  font-family: 'Barlow Condensed', sans-serif;
  color: var(--font-colour);
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.BorderTop {
  border-top: solid var(--border-colour) 3px;
}
.BorderRight {
  border-right: solid var(--border-colour) 3px;
}
.BorderBottom {
  border-bottom: solid var(--border-colour) 3px;
}
.BorderLeft {
  border-left: solid var(--border-colour) 3px;
}
