/**
Stuff not in this file (yet):
- Donation Box random colours (JS array currently).
**/

:root {
  --border-colour: #41245b;
  --border-colour-raw: 65, 36, 91;
  --font-colour: #fff073;
  --font-colour-secondary: #b7b7b7;
  --font-colour-inverted: white; /* Inverted is a bad name. */
  --icon-colour-inversion: invert(1); /* Default is black, invert for white. */
  --commentators-bg-colour: rgba(65, 36, 91, 0.5);
  --timer-colour: var(--font-colour);
  --timer-paused-colour: var(--font-colour-secondary);
  --timer-finish-colour: var(--font-colour-inverted);
}

#Background {
  background-color: #19171c;
}

#Omnibar {
  /* background-color: #41245b; */ /* ESA */
  background-color: #011961; /* UKSG */
  color: white;
}
