/**
Stuff to still move here:
- Donations Bar/Donation Box
**/

:root {
  --border-colour: #ffbd16;
  --font-colour: white;
  --font-colour-secondary: #b7b7b7;
  --font-colour-inverted: black;
  --commentators-bg-colour: #ffb70075;
}
